<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Alumni</title>
</head>
<body>
    <form action="/alumnis/<%=alumni._id%>?_method=PUT" method="post">
        <div>
            <label for="name">Name</label>
            <input type="text" id="name" name="alumni[name]" value="<%= alumni.name%>">
        </div>
        <div>
            <label for="YearOfGraduation">YearOfGraduation</label>
            <input type="text" id="YearOfGraduation" name="alumni[YearOfGraduation]" value="<%= alumni.YearOfGraduation%>">
        </div>
        <button>Edit Alumnus</button>
    </form>
    <a href="/alumnis/<%= alumni._id%>">View Alumnus</a>
</body>
</html>




