<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Comment</title>
</head>
<body>
    <div class="hed">
    <h1>Leave A comment for <%= alumni.name %></h1>
    </div>
    <div class="form">
    <form class="form" action="/alumnis/<%=alumni._id%>/comments" method="post">
        <textarea name="comment[body]" id="body" cols="60" rows="20"></textarea>
        <button class="sbtbtn">Submit</button>
    </form>
    </div>
</body>
<style>
    body{
        background-color: #85FFBD;
        background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
    }
    .hed{
        margin:auto;
        width: 50%;
        text-align: center;
    }
    .form{
        padding-top: 5%;
        margin: auto;
        width: 50%;
    }
    .sbtbtn{
        margin-top: 10px;
    }
</style>
</html>