<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
</head>
<body>
    <h1><%= alumni.name %></h1>
    <h2><%= alumni.YearOfGraduation%></h2>
    <p> 
        <a href="/alumnis/<%=alumni._id%>/edit">Edit</a>
    </p>
    <p>
        <form action="/alumnis/<%=alumni._id%>?_method=DELETE" method="post">
            <button>
                DELETE
            </button>
        </form>
    </p>
    <footer>
        <a href="/alumnis">Show All Alumnis</a>
    </footer>
</body>
</html>

