<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <button class="butt" type="button", onclick="window.open('https://auth.delta.nitt.edu/authorize?client_id=K9Y5Godr48Aav9kn&redirect_uri=https://glacial-river-34992.herokuapp.com/auth/callback&response_type=code&grant_type=authorization_code&state=sdafsdghb&scope=email+openid+profile+user&nonce=bscsbascbadcsbasccabs','_blank')">open button</button>
</body>
</html>


